.App {
  text-align: center;
  background-color: white;
}


.App-header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}

.SearchandSort {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

.TaskFormModal{
  padding-bottom: 30px;
}

.taskList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Align cards in 2 column */
  gap: 20px;
  margin-top: 40px;
  margin-left: 70px;
}

.fab-button {
  right: 20px;
  bottom: 20px;
}


